.bg-gray-900-custom {
  background-color: #111827 !important;
}
.text-blue-400-custom {
  color: #60a5fa !important;
}
.text-gray-300-custom {
  color: #d1d5db !important;
}
.text-gray-400-custom {
  color: #9ca3af !important;
}
.border-gray-800-custom {
  border-color: #1f2937 !important;
}

.hover-text-blue-400-custom:hover {
  color: #60a5fa !important;
}
