.navbar-brand {
  --bs-navbar-brand-hover-color: rgb(29, 78, 216);
  --bs-navbar-brand-font-size: 1.8rem;
  background-image: linear-gradient(to right, #2563eb, #8b5cf6, #1e40af);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
